
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ff8c1a;
}

li, a {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}