
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 15%;
    background-color: #ff8c1a;
}

.navbar li, a, .navbar_button {
    font-weight: 500;
    font-size: 10px;
    color: #000000;
    text-decoration: none;
}

.nav_links u {
    font-weight: 500;
    font-size: 11px;
    color: #000000;
    text-decoration: none;
    padding: 9px 20px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease 0s
}

.nav_links u:hover {
    background-color: rgba(0, 180, 224, 0.8);
    transition: all 0.3s ease 0s;
}

.logo {
    cursor: pointer;
    width: 80px;
    margin-right: auto;
}

.contact-us {
    cursor: pointer;
    width: 30px;
}

.nav_links li {
    display: inline-block;
    padding: 0px 15px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgb(255, 255, 255);
}

.navbar_button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navbar_button:hover {
    background-color: rgba(0, 180, 224, 0.8);
    transition: all 0.3s ease 0s;
}

.contact-us {
    margin-right: 15px;
    opacity: 30%;
}

.contact-us:hover {
    opacity: 100%;
    transition: all 0.3s ease 0s;
}

.navbar_options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 255px;
    background-color: #263600;
}

.navbar_options_button {
    display: inline-block;
    background-color: #263600;
    color: #ffff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 17px;
    padding: 20px 94px;
}

.navbar_options_button:hover {
    background-color: #421b00;
    color:  #e65c00;
    transition: all 0.3s ease 0s;
}