.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 1rem;
    grid-template-areas: 
    "box box"
    "box1 box2"
    "box3 box2"
    "box4 box4";
}

.grid > .box2 > img {
    width: 100%;
}

.box {
    background: rgb(22, 211, 135);
    grid-area: box;
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
    align-items: center;
}

.box1 {
    background: rgb(48, 128, 198);
    grid-area: box1;
}

.box2 {
    background: blue;
    grid-area: box2;
}

.box3 {
    background: cadetblue;
    grid-area: box3;
}

.box4 {
    background: rgb(55, 243, 152);
    grid-area: box4;
}
