div.header {
    display: flex;
    margin: auto;
    width: 90%;
}

div.card {
    width: 100%;
    height: 70vh;
    margin: auto;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.18);
    -webkit-box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.18);
}

.row {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 80%;
}

.first{
    background-color: blanchedalmond;
    border-radius: 15px;
}

.second {
    background-color: rgba(228, 223, 216, 0.74);
    border-radius: 15px;
}

.third {
    background-color: rgb(247, 205, 148);
    border-radius: 15px;
}

.fourth{
    background-color: blanchedalmond;
    border-radius: 15px;
}

.fifth {
    background-color: rgba(228, 223, 216, 0.74);
    border-radius: 15px;
}

.fa-book, .fa-book-reader, .fa-clock {
    font-size: 90px;
    color: rgb(96, 96, 226);
    padding-top: 20px;
}

div.indicator {
    margin-top: -90px;      
}

.margin5 {
    margin-left: 5px;
}

.margin15 {
    margin-left: 15px;
}

.margin25 {
    margin-left: 25px;
}

p.align-right{
    padding-top: 60px;
    margin: auto;
    font-size: 30px;
}

p.text {
    font-size: 20px;
}

p.header {
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
}

table,th,tr,td {
    text-align: center;
    margin-left: 100px;
}

table {
    margin: auto;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.171);
    border-collapse: collapse;
    box-shadow: 0 5px 10px gray;
    background-color: #fff;
    text-align: left;
}

table#tableData {
    height: 100px;
}

thead {
    box-shadow: 0 5px 10px gray;
}

th {
    border: 1px solid rgba(0, 0, 0, 0.075);
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
}

div.news {
    position: relative;
    display: flex;
    align-self: center;
    width: 90%;
    height: 100%;
    margin: auto;
}

div.main-news {
    justify-content: center;
    text-align: center;
    min-width: 70%;
    max-height: 100vh;
    background-color: bisque;
    padding: 1rem;
    border-radius: .5rem;
}

div.main-news > span {
    font-size: 25px;
}

div.side-news {
    background-color: bisque;
    text-align: center;
    justify-content: center;
    border-radius: .5rem;
    margin-left: 1rem;
    padding: 1rem;
}

div.side-news > span {
    font-size: 25px;
}
