div.header {
    display: flex;
    margin: auto;
    width: 90%;
}

div.card {
    width: 100%;
    height: 70vh;
    margin: auto;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.18);
    -webkit-box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.18);
}

.row {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.first{
    background-color: blanchedalmond;
    border-radius: 15px;
}

.second {
    background-color: rgba(228, 223, 216, 0.74);
    border-radius: 15px;
}

.third {
    background-color: rgb(247, 205, 148);
    border-radius: 15px;
}

.fourth{
    background-color: blanchedalmond;
    border-radius: 15px;
}

.fifth {
    background-color: rgba(228, 223, 216, 0.74);
    border-radius: 15px;
}

.fa-cubes, .fa-user-check, .fa-parachute-box {
    font-size: 90px;
    color: rgb(96, 96, 226);
    padding-top: 20px;
}

p.align-right{
    position: absolute;
    margin: 65px;
    padding-left: 160px;
    text-align: right;
    font-size: 30px;
}

p.header {
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
}

table,th,tr,td {
    text-align: center;
    margin-left: 100px;
}

table {
    margin: auto;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.171);
    border-collapse: collapse;
    box-shadow: 0 5px 10px gray;
    background-color: #fff;
    text-align: left;
}

table#tableData {
    height: 100px;
}

thead {
    box-shadow: 0 5px 10px gray;
}

th {
    border: 1px solid rgba(0, 0, 0, 0.075);
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
}
