@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Noto Sans JP", sans-serif;
}

html, body {
    background: radial-gradient(circle, rgba(181,117,20,1) 60%, rgba(255,0,0,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    min-height: 140%;
    margin-left: 60px;
    min-width: 96.08%;
}

.navigation {
    position: fixed;
    width: 60px;
    height: 100%;
    background-color: rgb(189, 142, 41);
    transition: 0.5s;
    overflow: hidden;
    z-index: 1;
}

.navigation:hover{
    width: 250px;
}

.navigation ul {
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-touch-callout: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style-type: none;
}

.navigation ul li.selection:hover {
    background: orange;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    color: rgb(82, 50, 50);
    text-decoration: none;
}

.navigation ul li a.selection-links {
    cursor: pointer;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa {
    font-size: 24px;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

div.error-messages {
    align-items: center;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 20px;
    transition:  0.5s ease-in;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
}

.bg-modal-signup {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
}

.overflow-hidden {
    overflow-y: hidden;
}

.modal-content, .modal-content-signup {
    width: 500px;
    height: 400px;
    background-color: #00008B;
    border-radius: 15px;
    box-shadow: 0   2rem  5rem  0  #00000040;
    text-align: center;
    padding: 20px;
    position: relative;
    -webkit-touch-callout: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    z-index: 1;
}

.modal-content-signup {
    width: 700px;
    height: 590px;
}

input {
    width: 50%;
    margin: 15px auto;
}

.close, .close-signup {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    color: #ffffff;
    -webkit-touch-callout: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.arrow {
    position: absolute;
    border: solid rgb(255, 255, 255);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 5px;
    font-size: 42px;
    top: 26px;
    left: 30px;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#open {
    animation: open 0.5s forwards;
}

@keyframes open {
    0% {
        transform: scale(0.7);
    }
}

input[type=email].login, input[type=password].login {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    color: #000000;
}

input[type=text].name {
    width: 33.3%;
    padding: 5px 20px;
    float: left;
    margin: auto;
    border-radius: 5px;
    color: #000000;
}

input[type=date].date {
    width: 100%;
    padding: 5px;
    margin: auto;
}

input[type=text].signup-text, input[type=password].signup-text, input[type=password].signup-text {
    width: 100%;
    padding: 5px;
    margin: auto;
}

input[type=text]:focus.login, input[type=text]:focus.name, input[type=text]:focus.address, input[type=text]:focus.contact, 
input[type=text]:focus.email, input[type=text]:focus.password, input[type=text]:focus.conpass {
    background-color: #000000;
    color: #ffffff;
}

p.tag-name {
    text-align: left;
    color: #ffffff;
}

#btnLogin, #btnSignup, #btnSubmit {
    width: 100%;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    min-width: 8rem;
    font-size: 1rem;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 7px -1px;
}

#btnSubmit {
    margin: 25px -1px;
}

#home-options {
    margin: auto;
    width: 900px;
    height: 35px;
    background-color: rgb(231, 156, 44);
    border-radius: 5px;
    -webkit-touch-callout: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#home-options-contents{
    height: 35px;
    display: flex;
}

.tab {
    padding: 5px 25px;
    width: 95px;
    height: 35px;
    display: inline-block;
    cursor: pointer;
}

div#home-options div#home-options-contents .tab#home:hover {
    background-image: linear-gradient(90deg, rgba(186,111,0,1) 13%, rgba(2,0,36,0) 100%);
    border-radius: 5px;
}

div#home-options div#home-options-contents .tab#categories:hover {
    background-image: linear-gradient(90deg, rgba(186,111,0,1) 13%, rgba(2,0,36,0) 100%);
}

a {
    text-decoration: none;
    color: rgb(33, 26, 124);
}

.tab#categories {
    width: 130px;
}

div#home-options #home-options-contents .searchbox {
    margin-top: -13px;
    color: #ffffff;
}

input#input-default {
    margin-left: 401.5px;
    width: 42%;
    height:65%;
    background-color: rgb(192, 129, 35);
    color: #3a1313;
    border-radius: 5px;
    padding: 0px 15px;
}

input#input-default::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(230, 228, 228);
}
  
input#input-default:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(230, 228, 228);
}
  
input#input-default:-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(230, 228, 228);
}

#footer {
    background-color: rgb(253, 176, 33);
    height: 105px;
    margin-top: 350px;
    clear: both;
}

#footer .rule {
    height: 8px;
    border-top: 1px solid #363c44;
}

#footer .footer-contents {
    width: 930px;
    margin: 0px auto;
    padding-top: 10px;
}

div.footer-contents #footer-logo {
    float: left;
    padding-top: 2px;
}

div.footer-contents #footer-logo img {
    width: 75px;
}

#footer #footer-text {
    float: left;
    margin-left: 12px;
    font-size: 12px;
    padding-top: 20px;
    line-height: 16px;
    text-align: center;
    color: rgb(68, 65, 33);
}


/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
    .slideshow-container, .slideshow-container2, .slideshow-container3, .slideshow-container4, .slideshow-container5, .slideshow-container6
    ,.slideshow-container7 {
        max-width: 50%;
    }
    div#home-options {
        width: 830px;
    }
    div.searchbox input#input-default {
        margin-left: 275px;
        width: 63%;
        height:65%;
    }
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
    div#home-options {
        width: 450px;
    }
    div.searchbox input#input-default {
        margin-left: 80px;
        width: 63%;
        height:65%;
    }
    .slideshow-container, .slideshow-container2, .slideshow-container3, .slideshow-container4, .slideshow-container5, .slideshow-container6
    ,.slideshow-container7 {
        max-width: 50%;
    }
    div.tab-title {
            font-size: 18px;
            color: rgb(233, 232, 232);
    }
    #footer {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .slideshow-container, .slideshow-container2, .slideshow-container3, .slideshow-container4, .slideshow-container5, .slideshow-container6
    ,.slideshow-container7 {
        max-width: 70%;
    }
    div.tab-title {
        font-size: 15px;
        color: rgb(233, 232, 232);
    }
    div.text {
        font-size: 17px;
    }
    div.text-description {
        font-size: 13px;
    }
    .prev, .next {
        padding: 15px;
    }
    #home-options {
        display: none;
    }
}

