@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}
body{
  background-color: #eef3ff;
}

.container{
  display: flex;
}

.container .sidebar{
  position: sticky;
  height: 100vh;
  width: 240px;
  background: #000000bd;
  padding: 30px 0px;
  left: 0;
  top: 0;
  flex-shrink: 0;
}

.container .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.container .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.container .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.container .sidebar ul li a .fas{
  width: 25px;
}

.arrow {
  position: relative;
  float: right;
  border: solid #bdb8d7;
  top: 3px;
  border-width: 0 3px 3px 0;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.container .sidebar ul li:hover{
  background-color: #594f8d;
  cursor: pointer;
}
    
.container .sidebar ul li:hover a{
  color: #fff;
  -webkit-touch-callout: none;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.container .sidebar ul li.dropdown {
  color: #bdb8d7;
  cursor: pointer;
}

.container .sidebar ul li.dropdown span {
  margin-left: 30px;
  -webkit-touch-callout: none;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.container .sidebar ul li.dropdown:hover span {
  color: #fff;
}
 
.container .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.container .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #000000bd;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main_content{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main_content .topbar {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: right;
  background: rgb(238, 237, 232);
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  margin-bottom: 50px;
}

.main_content .topbar .account {
  display: flex;
  align-items: center;
  user-select: none;
}

.main_content .topbar .account .user-icon {
  width: 40px;
}

.main_content .topbar .account .text {
  padding-left: 12px;
}

.modal-body {
  padding: 2px 16px;
}

button.blue {
  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  background-color: #ff643d;
  padding: 1rem 1rem;
  font-size: 1rem;
  outline: 0;
  border: 0;
  margin: 15px 15px 2px 2px;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  
}

.info{
  line-height: 25px;
  padding: 20px;
}

.info-login {
  line-height: 25px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
