* {
    box-sizing: border-box;
    margin: 0;
  }

body {
    width: 100%;
    background-image: url("../images/fpimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);

}

.front-card {
    width: 700px;
    height: 590px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    text-align: center;
    transform: translate(-50%, -50%);
    border: 100px solid rgba(#000000);
}

.card-header {
    width: 100%;
    height: 150px;
    padding: 45px;
}

.group-name {
    padding: 1rem;
    color: white;
}

.line-on-side {
    border-bottom: 1px solid #dadada;
    line-height: 0.1em;
    margin: 15px 0 20px;
}

span {
    color: white;
}

.font-small-3 {
    font-size: 0.9rem !important;
}

.text-muted {
    color: #404E67 !important;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

fieldset {
    min-width: 0;
    padding: 5px;
    margin: 0;
    border: 0;
}

form .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
    color: white;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
}

.no-outline:focus {
    outline: none;
}

i {
    font-size: 20px;
    margin-left: 2px;
    margin-right: 2px;
    color: rgba(255, 255, 255, 0.678) ;
}

.fieldset-border {
    border: 1px rgba(255, 255, 255, 0.575) solid;
}

.card-control {
    width: 95.5%;
}

.row {
    display:flex;
    flex-direction: row;
}

.form-group .remember-me, a.forgot {
    color: rgb(255, 255, 255);
}

.form-group .remember-me {
    margin-right: 389px;
    margin-left: 4px;
}

.btn {
    position: relative;
    width: 100%;
    display: block;
    margin: 30px auto;
    padding: 0;
  
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    transition: background-color .3s;
    cursor: pointer;
}

.btn span {
    display: block;
    padding: 12px 24px;
    color: #000000;
}


.btn.grey:hover {
    background-color: rgb(66, 66, 66);
}

.btn span:hover {
    color: white;
}

.btn.grey:focus {
    background-color: rgb(255, 255, 255);
}

span.error {
    color: rgb(255, 255, 255);
}
