select {
    width: 40%;
    font-size: 20px;
    height: 35px;
    text-align: center;
}

table,th,tr,td {
    text-align: center;
    margin-left: 100px;
}

table {
    margin: auto;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.171);
    border-collapse: collapse;
    box-shadow: 0 5px 10px gray;
    background-color: #fff;
    text-align: left;
}

table#tableData {
    height: 100px;
}

thead {
    box-shadow: 0 5px 10px gray;
}

th {
    border: 1px solid rgba(0, 0, 0, 0.075);
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
}

span.span-header {
    font-size: 25px;
    padding: 1rem ;
}

.paging-nav {
    text-align: right;
    padding-top: 10px;
}
  
.paging-nav a {
    margin: auto 1px;
    text-decoration: none;
    display: inline-block;
    padding: 1px 7px;
    background: #91b9e6;
    color: white;
    border-radius: 3px;
}
  
.paging-nav .selected-page {
    background: #187ed5;
    font-weight: bold;
}

nav {
    display: block;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 50%;
    text-align: center;
}

.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>.active>span{
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
