div.card {
    width: 100%;
    height: 690px;
    background-color: rgb(242, 248, 255);
    margin: auto;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.18);
    -webkit-box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.18);
}

div.header {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: .5rem;
    display: inline-block;
}

div#result {
    margin-top: -12px;
    align-items: center;
    text-align: center;
}

table,th,tr,td {
    text-align: center;
    margin-left: 100px;
}

table {
    margin: auto;
    height: 540px;
    border: 1px solid rgba(0, 0, 0, 0.171);
    border-collapse: collapse;
    box-shadow: 0 5px 10px gray;
    background-color: white;
    text-align: left;
}

thead {
    box-shadow: 0 5px 10px gray;
}

th {
    border: 1px solid rgba(0, 0, 0, 0.075);
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

a {
    color: black;;
}

a.action {
    padding: .5rem;
    background-color: gray;
    text-align: center;
    color: #fff;
    border-radius: 6px;
}

a.action:hover {
    background-color: rgb(97, 102, 88);
    cursor: pointer;
}

a.categories {
    left: 605px;
}

span.span-header {
    font-size: 35px;
    padding-left: 2.5rem;
}

button.action {
    border: none;
    outline: none;
}

button.btn {
    width: 170px;
    font-size: 15px;
    height: 45px;
}

button.margin {
    margin-left: 1140px;
    top: -95px;
}

button.confirm {
    top: -100px
}

.paging-nav {
    text-align: right;
    padding-top: 10px;
}
  
.paging-nav a {
    margin: auto 1px;
    text-decoration: none;
    display: inline-block;
    padding: 1px 7px;
    background: #91b9e6;
    color: white;
    border-radius: 3px;
}
  
.paging-nav .selected-page {
    background: #187ed5;
    font-weight: bold;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 400px;
}

input:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(0, 0, 0) !important;
}

input.header-input {
    margin-left: 480px;
    text-align: center;
}

input.placeholder {
    margin: 20px;
    text-align: center;
}

input.disabled {
    border-bottom-style: hidden;
    background: #dddddd;
}

p.input {
    padding: 10px;
}

p.compute {
    margin-left: 110px;
}

p.top {
    margin-top: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    margin-left:260px;
    width: 85%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
.modal-content {
    position: relative;
    background-color: #fefefe;
    top: 180px;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:180; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:180; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
  
.modal-body {
    padding: 2px 16px;
}

p.text {
    font-size: 20px;
}

.hidden{
    visibility: hidden;
    margin: 0;
    padding: 0;
}

span.error {
    position: absolute;
    margin-left: 115px;
}

.fa-edit, .fa-trash-alt {
    font-size: 25px;
}

select {
    width: 60%;
    font-size: 20px;
    height: 35px;
    text-align: center;
}
